[submodule "clovers.beckend"]
	path = clovers.beckend
	url = https://github.com/maztea/clovers.beckend.git
[submodule "clovers.android"]
	path = clovers.android
	url = https://github.com/maztea/clovers.android.git
[submodule "clovers.web"]
	path = clovers.web
	url = https://github.com/maztea/clovers.web.git
